/* Basic Site Styling */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;

    background-image: url("../Images/gplaypattern.png");
    background-repeat: repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff;
    height:90px;
    border-bottom: #ccc solid 2px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}
hr {
    border: #ccc solid 2px;
    margin: 1em 0;
}

p, li {
    font-size: 16px;
    line-height: 2;
}

.content {
    background-color: #fff;
    margin: 5% 20% 5% 18%;
    flex: 1 0 auto;
    width: 960px;
    border: #ddd solid 1px;
    padding: 20px;
}

footer {
    background-color:#666;
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 20px;
    position:sticky;
        bottom: 0;
}

/* Nav Bar */
.Nav {
    list-style-type: none;
    float: right;
    margin-right: 15%;
    padding-top: 8px;
    padding-bottom: 15px;
}
    li {
        display: inline-block;
        border-right: 1px solid #eee;
        padding: 5px;
        text-align: center;
    }  
    a {
        padding: 5px;
        color:#777;
        text-decoration: none;
        }
    li a:hover {
        background-color: #ccc;
        color:#fff;
    }    

/* Name Logo in Header */
.logo {
    display: inline-block;
    background-color: #4aaaa5;
    margin:0 0 0 18%;
    padding: 22px 8px;
    color:#fff;
    text-align: center;
}

/* Bio Area Pic*/
    .me {
        float: left;
        margin: 10px 17px 5px 0px;
    }

/* Contact Form Area*/
form {
    margin: 20px auto;
    width: max-content;
    font-size: 0.875;
    box-sizing: content-box;
}
    input, textarea {
        display: block;
        width:850px;
        padding:10px;
        border: 1px solid #ddd;
        margin: 10px 0;
        font-size: 0.857em;
        font-family: inherit;
    }

    /* Submit Button */
    button {
        background-color: #4aaaa5;
        color:#fff;
        text-align: center;
        padding:8px;
    }

    button:hover {
        background-color: #ccc;
    }